<?xml version="1.0"?>
<launch>
	<remap from="odometry/filtered" to="mavros/odometry/out" />
	<include file="$(find camera)/launch/camera.launch"/>	
	<include file="$(find mavros)/launch/px4.launch"/>
	<include file="$(find visual_odometry)/launch/launch_visodo.launch"/>
	<include file="$(find aruco)/launch/launch_aruco_tracking.launch"/>
	<include file="$(find sonic_sensor)/launch/sonic_sensor.launch"/>
	<include file="$(find odometry)/launch/start_filter.launch">
	<!--include file="$(find optical_flow)/launch/launch_optical_flow.launch"/-->
	<!-- Our node to control the drone -->
	<node pkg="offboard_py" type="offb_node.py" name="offb_node_py" required="true" output="screen" />
</launch>
 