<?xml version="1.0"?>
<launch>
	<include file="$(find camera)/launch/camera.launch"/>
	<!--include file="$(find mavros)/launch/px4.launch"/-->
	<!--include file="$(find px4)/launch/mavros_posix_sitl.launch"/-->
	<include file="$(find visual_odometry)/launch/visual_odometry.launch"/>
	<include file="$(find aruco)/launch/aruco_tracking.launch"/>
	<include file="$(find sonic_sensor)/launch/sonic_sensor.launch"/>
    <include file="$(find odometry)/launch/start_filter.launch"/>
	<include file="$(find remap)/launch/remap.launch"/>
</launch>